# secrets
config/startup.json
config/mongodb.json

#Pycharm
.idea

#Log and 2. log for unmute Tempmutes
log.log
Database/log.log

#picture from .cat or .horse
picture.jpg

#pycache
__pycache__

#TODO
TODO.txt
